{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Gestão Operacional</title>
</head>
<body>
    <header>
        <img src="{% static '/img/ambipar_response.png' %}" alt="logo_grupo" id="logo_grupo">
            <div id="logout">
                <abbr title="Sair"><img src="{% static '/img/logout.png'%}" alt="logout"></abbr>
            </div>
    </header>

    <main>
        <aside>
            <div class="nova_os">
                <h1>Controle Operacional</h1>
                <div id="btn_right">
                    <button class="btn_os" id="btn_nova_os">Abrir nova OS</button>
                        <div class="escolher_os" id="radio_os">
                            <input name="radio" type="radio" class="escolha_os"> Nova OS
                            <input name="radio" type="radio" class="escolha_os"> OS Existente
                        </div>

            <section>
                <div id="modal-os" class="modal">
                    <div class="modal-content">
                        <span class="close-btn" onclick="fecharModal()">&times;</span>
                        <h2>Abrir OS<span id="modal-os"></span></h2>
                        <form id="form-os" method="post" action="{% url 'lista_servicos' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="criar_os" id="input-os" />
                            <div class="campo-preenchimento">
                                <label for="numero_os">Numero da OS:</label>
                                <input type="number" name="numero_os" id="input-numero-os" min="1" required />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="codigo_os">Codigo da OS:</label>
                                <input type="text" name="observacao" id="input-codigo-os" />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="data">Data inicio:</label>
                                <input type="date" name="data_inicio" id="input-data" />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="data">Data Final:</label>
                                <input type="date" name="data_fim" id="input-data" />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="supervisor">Supervisor:</label>
                                <input type="text" name="supervisor" id="input-supervisor" />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="coodernador">Coordenador Responsavel:</label>
                                <input type="text" name="coodernador" id="input-coordenador" />
                            </div>
                            <div class="campo-preenchimento">
                                <label for="servico">Serviço:</label>
                                <input type="text" name="servico" id="input-servico">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="metodo">Método da Operação:</label>
                                <input type="text" name="metodo" id="input-metodo">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="pob">POB:</label>
                                <input type="number" name="pob" id="input-pob" min "1" required>
                            </div>
                            <div class="campo-preenchimento">
                                <label for="tanque">Tanque:</label>
                                <input type="text" name="tanque" id="input-tanque" min "1" required>
                            </div>
                            <div class="campo-preenchimento">
                                <label for="volume-tanque">Volume do tanque:</label>
                                <input type="text" name="volume_tanque" id="input-volume-tanque" min "1" required>
                            </div>
                            <div class="campo-preenchimento">
                                <label for="cliente">Cliente:</label>
                                <input type="text" name="cliente" id="input-cliente">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="unidade">Unidade:</label>
                                <input type="text" name="unidade" id="input-unidade">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="tipo-operacao">Regime de Operação:</label>
                                <input type="text" name="tipo_operacao" id="input-tipo-operacao">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="solicitante">Solicitante:</label>
                                <input type="text" name="solicitante" id="input-solicitante">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="status-operacao">Status da Operação:</label>
                                <input type="text" name="status_operacao" id="input-status-operacao">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="observacao">Observação:</label>
                                <input type="text" name="observacao" id="input-observacao">
                            </div>

                            <div class="campo-preenchimento">
                                <label for="link">Controle de RDO</label>
                                <input type="url" name="link_rdo" id="input-rdo">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="link">Planilha de controle de Logística de Pessoal</label>
                                <input type="url" name="planilha_logistica" id="input-planilha">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="link">Controle de Materiais/Equipamentos</label>
                                <input type="url" name="planilha_materiais" id="input-material">
                            </div>
                            <div class="campo-preenchimento">
                                <label for="arquivos">Adicionar arquivos:</label>
                                <input type="file" name="arquivos" id="input-arquivos" multiple>:
                            </div>
                            <div class="botoes-modal">
                                <button type="submit" class="btn-confirmar">Confirmar</button>
                                <button type="button" class="btn-cancelar" onclick="fecharModal()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </aside>

        <aside>
            <div class="pesquisa_os"> 
                <form method="get" id="pesquisa">
                    <input type="text" name="pesquisar_os" placeholder="Pesquisar OS" class="pesquisar_os">
                </form>
            </div>
            <div class="tabela_conteiner">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nº OS</th>
                            <th>TAG</th>
                            <th>Código da OS</th>
                            <th>Data Início</th>
                            <th>Data Fim</th>
                            <th>Cliente</th>
                            <th>Unidade</th>
                            <th>Solicitante</th>
                            <th>Regime da Operação</th>
                            <th>Serviço</th>
                            <th>Tanque</th>
                            <th>Volume do Tanque</th>
                            <th>Especificação</th>
                            <th>Método da Operação</th>
                            <th>POB</th>
                            <th>Dias de Operação</th>
                            <th>Coordenador</th>
                            <th>Supervisor</th>
                            <th>Status da Operação</th>
                            <th>Visão geral</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for os in servicos %}
                        <tr>
                            <td>os.id</td>
                            <td>os.numero_os</td>
                            <td>os.tag</td>
                            <td>os.codigo_os</td>
                            <td>os.data_inicio</td>
                            <td>os.data_fim</td>
                            <td>os.cliente</td>
                            <td>os.unidade</td>
                            <td>os.solicitante</td>
                            <td>os.tipo_operacao</td>
                            <td>os.servico</td>
                            <td>os.tanque</td>
                            <td>os.volume_tanque</td>
                            <td>os.especificacao</td>
                            <td>os.metodo</td>
                            <td>os.pob</td>
                            <td>os.dias_de_operacao</td>
                            <td>os.coordenador</td>
                            <td>os.supervisor</td>
                            <td>os.status_operacao</td>
                            <td>
                                <button id="ver_mais" class="btn_tabela">Ver Mais</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="botoes_tabela">
                <button class="btn_os" id="exportar_excel">Exportar para Excel</button>
            </div>
        </aside>

        <aside>
            <div id="detalhes_os" class="detalhes">
                <div class="modal-detalhes">
                    <div id="relatorio-os">
                        <span class="close-btn" onclick="fecharDetalhesModal()">&times;</span>
                        <h2>Relatório de Ordem de Serviço</h2>
                        <div class="campo-relatorio"><strong>Número da OS:</strong></div>
                        <div class="campo-relatorio"><strong>TAG:</strong></div>
                        <div class="campo-relatorio"><strong>Código da OS:</strong></div>
                        <div class="campo-relatorio"><strong>Data Início:</strong></div>
                        <div class="campo-relatorio"><strong>Data Fim:</strong></div>
                        <div class="campo-relatorio"><strong>ID:</strong></div>
                        <div class="campo-relatorio"><strong>Cliente:</strong></div>
                        <div class="campo-relatorio"><strong>Unidade:</strong></div>
                        <div class="campo-relatorio"><strong>Solicitante:</strong></div>
                        <div class="campo-relatorio"><strong>Regime da Operação:</strong></div>
                        <div class="campo-relatorio"><strong>Serviço:</strong></div>
                        <div class="campo-relatorio"><strong>Tanque:</strong></div>
                        <div class="campo-relatorio"><strong>Volume do Tanque:</strong></div>
                        <div class="campo-relatorio"><strong>Especificação:</strong></div>
                        <div class="campo-relatorio"><strong>Método da operação:</strong></div>
                        <div class="campo-relatorio"><strong>POB:</strong></div>
                        <div class="campo-relatorio"><strong>Dias de operação:</strong></div>
                        <div class="campo-relatorio"><strong>Coordenador:</strong></div>
                        <div class="campo-relatorio"><strong>Supervisor:</strong></div>
                        <div class="campo-relatorio"><strong>Status da operação:</strong></div>
                        <div class="campo-relatorio"><strong>Observação:</strong></div>
                            <strong>Arquivos Anexados:</strong>
                            <ul>
                                <li><a href="#">Controle de RDO</a></li>
                                <li><a href="#">Controle de Logística de Pessoal</a></li>
                                <li><a href="#">Controle de materiais/equipamento</a></li>
                            </ul>
                        </div>
                </div>    
            </div>
        </aside>
    </main>
    <footer>
        <p>© 2025 Ambipar. Versão 1.0</p>
    </footer>
      <script src="{% static 'js/scripts.js'%}"></script>
</body>
</html>